root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Neolution.CodeAnalysis rules
dotnet_diagnostic.S1200.severity = none
dotnet_diagnostic.S1694.severity = none
dotnet_diagnostic.S3358.severity = none
dotnet_diagnostic.S3956.severity = none
dotnet_diagnostic.S4049.severity = none

# TO BE INVESTIGATED
[*.sln]
indent_style = tab

[*.cshtml]
indent_size = 4

[*.sql]
indent_size = 4
