@page
@using Core.Entities.Compare
@using Enums
@model MainPageModel
@{
    var different = new List<ABaseCompareResultItem>();
    different.AddRange(Model.CompareResult.Tables.Where(x => x.SourceItem != null && x.TargetItem != null && !x.Equal));
    different.AddRange(Model.CompareResult.Views.Where(x => x.SourceItem != null && x.TargetItem != null && !x.Equal));

    var onlySource = new List<ABaseCompareResultItem>();
    onlySource.AddRange(Model.CompareResult.Tables.Where(x => x.SourceItem != null && x.TargetItem == null));
    onlySource.AddRange(Model.CompareResult.Views.Where(x => x.SourceItem != null && x.TargetItem == null));

    var onlyTarget = new List<ABaseCompareResultItem>();
    onlyTarget.AddRange(Model.CompareResult.Tables.Where(x => x.TargetItem != null && x.SourceItem == null));
    onlyTarget.AddRange(Model.CompareResult.Views.Where(x => x.TargetItem != null && x.SourceItem == null));

    var same = new List<ABaseCompareResultItem>();
    same.AddRange(Model.CompareResult.Tables.Where(x => x.SourceItem != null && x.TargetItem != null && x.Equal));
    same.AddRange(Model.CompareResult.Views.Where(x => x.SourceItem != null && x.TargetItem != null && x.Equal));
}

<div id="mainTop">
    @await Html.PartialAsync("_ResultTable", different, new ViewDataDictionary(this.ViewData)
    {
        { "Title", "In both, but different" },
        { "Show", true }
    })
    @await Html.PartialAsync("_ResultTable", onlySource, new ViewDataDictionary(this.ViewData)
    {
        { "Title", "Only in Source" }
    })
    @await Html.PartialAsync("_ResultTable", onlyTarget, new ViewDataDictionary(this.ViewData)
    {
        { "Title", "Only in Target" }
    })
    @await Html.PartialAsync("_ResultTable", same, new ViewDataDictionary(this.ViewData)
    {
        { "Title", "Identical" }
    })
</div>

<div id="mainBottom" style="display: none;">
    <div class="navbar p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sqlDiff">SQL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Menu 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Menu 3</a>
            </li>
        </ul>
        <button style="@ButtonStyle.Secondary" outline="@true" size="@ButtonSize.Small" close-split>X</button>
    </div>

    <div class="tab-content" style="height: calc(100% - 36px);">
        <div id="sqlDiff" class="tab-pane fade show active" style="height: 100%;">
        </div>
        <div id="menu1" class="tab-pane fade" style="height: 100%;">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade" style="height: 100%;">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>