@using Core.Interfaces
@inject IAppGlobals AppGlobal
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Html.Partial("_ScriptSetup")
</body>
</html>
