@using Core
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @* In order to make jquery work with both Chrome and Electron *@
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script>if (window.module) module = window.module;</script>

    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script>
        //Monaco uses a custom amd loader that overrides node's require.
        //Keep a reference to node's require so we can restore it after executing the amd loader file.
        var nodeRequire = null;
        if (typeof require !== "undefined") {
            nodeRequire = require;
        }
    </script>
    <script src="~/lib/monaco-editor/vs/loader.js"></script>
    <script>
        // Save Monaco's amd require and restore Node's require
        var amdRequire = require;
        if (nodeRequire !== null) {
            require = nodeRequire;
        }
        else {
            require = undefined;
        }
    </script>
    @if (AppGlobal.IsDevelopment)
    {
        <script src="~/js/Index.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    }
</body>
</html>
