@page
@model Index
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@Model.Title</title>
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
        <link href="~/css/Font.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
</head>
<body>
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-between main-header">
        <div>
            <button class="btn btn-primary" type="button" onclick="Project.New();">new project</button>
            <button class="btn btn-secondary" type="button">save</button>

        </div>
        <div>
            <button class="btn btn-secondary" type="button">refresh</button>
            <button class="btn btn-secondary" type="button" onclick="Logout.Logout();">sign out</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0" id="mainDiv"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Project setup</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    *@
                </div><div id="myModalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ScriptSetup")
</body>
</html>