@page
@model SQLCompare.UI.Pages.Index


<h2>Home</h2>

<button type="button" class="btn btn-success" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
    Tooltip with HTML
</button>