@page
@model Index
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
</head>
<body>
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0" id="mainDiv"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div id="myModalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ScriptSetup")
</body>
</html>