@page
@model Welcome

<h1>Welcome to @AppGlobal.CompanyName @AppGlobal.ProductName</h1>
<br /><br />
@Html.ActionLink("New project", "Index");
<br />
@Html.ActionLink("Load project", "")

<br />
<br />
<div>
    @foreach (var recent in Model.RecentProjects)
    {
        <div>
            Recent project: @recent
            <br />
        </div>

    }
</div>
<br />
<br />

<label for="exampleInputEmail1">Load</label>
<input type="file">
