@page
@model Index
@using Services
@using Enums

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@Model.Title</title>
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/Index.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    <link href="~/lib/jquery/jquery-editable-select.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row tcx-row-header d-flex justify-content-between">
        </div>
        <div class="row tcx-row-main">
        </div>
    </div>

    <!-- Modal -->
    @await Html.PartialAsync("_ModalDialog")

    <div id="myNotification" class="alert alert-warning">
    </div>

    <div id="myModal" class="modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ScriptSetup")
</body>
</html>