$font-stack: Helvetica, sans-serif;
$primary-color: #0094ff;

body {
    font: 100% $font-stack;
    color: $primary-color;
    overflow: hidden;
}

.input-group-text.min-width-100 {
    min-width: 100px;
}

body > .container-fluid > .row {
    height: 100vh;
}

#mainTop {
    overflow: auto;
    height: 100%;
}

.gutter {
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url("../img/gutter-horizontal.png");
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url("../img/gutter-vertical.png");
}

.nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tab-content > .tab-pane {
    display: block;
    visibility: hidden;
}

.tab-content > .active {
    visibility: visible;
}
