@import "common";

$fa-font-path: "../lib/fontawesome/webfonts";
$fa-font-size-base: $font-size-base;
@import "../lib/fontawesome/scss/fontawesome.scss";
@import "../lib/fontawesome/scss/solid.scss";
@import "../lib/fontawesome/scss/regular.scss";
@import "../lib/fontawesome/scss/brands.scss";

.#{$fa-css-prefix}-xs {
    font-size: .65em;
}

/*#region monaco-editor overrides */
.vs {
    .monaco-scrollable-element {
        > .decorationsOverviewRuler {
            background-color: $color-scrollbar-track
        }

        > .scrollbar {

            > .slider,
            > .slider.active,
            > .slider:hover {
                background-color: $color-scrollbar !important;
                border-radius: 25px;
            }

            &.vertical {
                background: $color-scrollbar-track;
                background-clip: content-box;
                padding: 3px;
                border-radius: 25px;

                > .slider,
                > .slider.active,
                > .slider:hover {
                    margin-left: 3px;
                    max-width: 8px;
                }
            }

            &.horizontal {
                > .slider,
                > .slider.active,
                > .slider:hover {
                    margin-top: 3px;
                    max-height: 8px;
                }
            }
        }
    }
}
/*#endregion*/

/*#region Toolbar */
.tcx-row-header {
    background-color: #292929;
    padding: 2px 3px;
    height: $row-header-height;

    .btn {
        height: 100%;
    }

    .dropdown-item {
        padding-right: 5px;
        padding-left: 1em;

        .fa, .far {
            margin-top: 2px;
        }
    }

    .nav-separator {
        border: 1px solid $gray-600;
        border-radius: 10px;
        height: 95%;
        margin: auto;
    }

    .tcx-header-left > .nav-item {
        margin-right: 3px;
    }

    .tcx-header-right > .nav-item {
        margin-left: 3px;
    }
}

/*#endregion*/

.tcx-row-main {
    height: 100vh;
    padding-bottom: $row-header-height;
    background-color: $background-color;
}

.tcx-main-top {
    overflow: auto;
    height: 100%;
}

.tcx-welcome {
    width: 700px;
    height: 500px;
}

.tcx-welcome-logo {
    height: 80px;
}

.tcx-welcome-recent-row {
    height: 350px;
}

.tcx-project {
    width: 700px;
}

.tcx-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tcx-task-status {
    width: 80%;
    max-width: 800px;
    min-width: 500px;
    padding-bottom: 0 !important;
}

.tcx-selected-row {
    @extend .table-info;
}

.tcx-project-option-descriptions {
    border-left: 1px solid #ddd;
    min-height: 300px;
}

.tcx-project-option-descriptions > div {
    display: none;
}

.tcx-diff-item-name {
    text-align: center;
    white-space: nowrap;

    &:before {
        content: "";
        margin-left: -100%;
    }

    &:after {
        content: "";
        margin-right: -100%;
    }
}

/*#region checkbox switch */
.tcx-switch {
    position: relative;
    width: $switch-width;
    height: $switch-width / 2;
    margin-top: 2px;
    white-space: initial;

    > .tcx-switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $switch-off-color;
        transition: .4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: ($switch-width / 2 - 4);
            width: ($switch-width / 2 - 4);
            left: 4px;
            bottom: 2px;
            background-color: $switch-slider-color;
            transition: .4s;
            border-radius: 50%;
        }
    }

    > input {
        display: none;

        &:checked + .tcx-switch-slider {
            background-color: $switch-on-color;
        }

        &:focus + .tcx-switch-slider {
            box-shadow: 0 0 1px $switch-on-color;
        }

        &:checked + .tcx-switch-slider:before {
            transform: translateX(0.75rem);
        }

        &:disabled + .tcx-switch-slider {
            background-color: $switch-disabled-color;
        }
    }
}
/*#endregion*/

/*#region splitter */
.gutter {
    background-color: #CCCCCC;
    background-repeat: no-repeat;
    background-position: 50%;

    &.gutter-horizontal {
        cursor: col-resize;
        background-image: url("../img/gutter-horizontal.png");
    }

    &.gutter-vertical {
        cursor: row-resize;
        background-image: url("../img/gutter-vertical.png");
    }
}
/*#endregion*/
