@page
@model CompareStatus

@foreach (var taskInfo in Model.TaskInfos)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@taskInfo.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@taskInfo.Message</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @taskInfo.Percentage%;">@taskInfo.Percentage%</div>
            </div>
        </div>
    </div>
}

@if (Model.TaskInfos.All(x => x.Status == TaskStatus.RanToCompletion))
{
    <span id="stopPolling"></span>
}