@page
@using Enums
@model CompareProject

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a data-toggle="tab" href="#tabDataSources" class="nav-link active">Data sources</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabTableMapping" class="nav-link">Table mapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOwnerMapping" class="nav-link">Owner mapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOptions" class="nav-link">Options</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tabDataSources">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_DatabaseProviderOptions", Model.Project.SourceProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    {"Prefix", CompareDirection.Source},
                })
            </div>
            <div class="col-md-6">
                @Html.Partial("_DatabaseProviderOptions", Model.Project.TargetProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    {"Prefix", CompareDirection.Target},
                })
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tabTableMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOwnerMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOptions">
        <p></p>
    </div>
</div>

<div class="float-right">
    <button type="button" class="btn btn-primary"
            load-main="/Project/CompareProject?handler=Compare" load-main-method="POST"
            load-main-data-from-div="tabDataSources">
        Compare now
    </button>
    <button type="button" class="btn btn-primary"
            save-project="/Project/CompareProject?handler=Save"
            save-project-method="POST"
            save-project-data-from-div="tabDataSources">
        Save
    </button>
    <button type="button" class="btn btn-secondary" load-modal="/Welcome" load-modal-method="GET">Cancel</button>
</div>