@page
@using System.Net.Http
@using Enums
@using Models
@model CompareProject
@{
    var compareRequest = new WebRequest
    {
        Url = new Uri("/Project/CompareProject?handler=Compare", UriKind.Relative),
        Method = HttpMethod.Post,
        SerializeDataFromDiv = "tabDataSources"
    };
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a data-toggle="tab" href="#tabDataSources" class="nav-link active">Data sources</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabTableMapping" class="nav-link">Table mapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOwnerMapping" class="nav-link">Owner mapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOptions" class="nav-link">Options</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tabDataSources">
        <div class="row">
            <div class="col-md-6">
                @await Html.PartialAsync("_DatabaseProviderOptions", Model.Project.SourceProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    {"Prefix", CompareDirection.Source},
                })
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_DatabaseProviderOptions", Model.Project.TargetProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    {"Prefix", CompareDirection.Target},
                })
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tabTableMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOwnerMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOptions">
        <p></p>
    </div>
</div>

<div class="float-right">
    <button style="@ButtonStyle.Primary" onclick-open-main="@compareRequest">
        Compare now
    </button>
    @if (Model.Project.RetrievedSourceDatabase != null)
    {
        <button style="@ButtonStyle.Secondary" onclick="Utility.CloseModalDialog()">Cancel</button>
    }
    else
    {
        <button style="@ButtonStyle.Secondary" onclick="Project.Close(true)">Cancel</button>
    }
</div>